*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
   background:#081b29;
    overflow: hidden;
}

.heading h1{
    color: #fff ;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}

.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #fff;
}

.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #fff;
}

.hero-content button{
     position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: #081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}

.btn-box a:hover{
    color: #00abf0;
}

.hero-img{
    flex: 1;
    width: 600px;
    margin: auto;
}

img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}